//- 用户管理名片界面

extends ../layout

block content
  .container
    .row
      each card in cards
        .col-md-5.toppad.pull-right.col-md-offset-3
          a(href="./card/"+card.id) 编辑
          br
          p.text-info= card.created
        div(class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad")
          .panel.panel-info
            .panel-heading
              h3.page-title= card.name
            .panel-body
              .row
                .col-md-3.col-lg-3(algin="center")
                  img.img-circle(src="//placehold.it/120")
                .col-md-9.col-lg-9
                  table.table.table-user-information
                    tbody
                      tr
                        td 公司：
                        td= card.company
                      tr
                        td 职位：
                        td= card.position
                      tr
                        td 手机：
                        td= card.mobile
                      tr
                        td 电话：
                        td= card.phone
                      tr
                        td 手机：
                        td= card.mobile
                      tr
                        td 邮箱：
                        td= card.email
                      tr
                        td 网址：
                        td= card.site
                      tr
                        td 地址：
                        td= card.address
                      tr
                        td QQ：
                        td= card.site
                      tr
                        td 微信：
                        td= card.weixin
                      tr
                        td 微博：
                        td= card.weibo
                      tr
                        td 个性签名：
                        td= card.write
                  a.btn.btn-primary My Sales Performance
                  a.btn.btn-primary My Sales Performance
            .panel-footer
