doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0")
    - title = title ? title : '微名片'
    title= title
    block styles
      //- link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/stylesheets/o-responsive.css')
      link(rel='stylesheet', href='/stylesheets/templ1.css')
      link(rel='stylesheet', href="http://fonts.useso.com/css?family=Lato:300,400,900,300italic,400italic,900italic")
      link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')

  body.fullwidth.boxed
    block content
      #top
      #header
        .container.wrap.text-center
          span= card.name
          span= card.position
        span.clear
      #home.sugar-container
        .container.wrap
          .row
            .col.dimfull.text-center#animation
              #ccimage.img-circle
                - var avatar = card.avatar ? "/uploads/avatar/" + card.avatar : "http://lorempixel.com/140/140/city";
                img(src=avatar, style="width: 150px; height: 150px;")
              p#hello 你好, 我叫
              h1#ccname= card.name
              if card.position
                p#iam 我是
                h2#ccfunction= card.position

      #personalinfo.cream-container.parallax
        .icon-container
          div
            span.fa.fa-user.fa-2x
        .container.wrap
          .row
            .col.dimfull.text-center
              h2= card.company
              dl.row
                if card.email
                  dt.col.dim1half.text-right.padright 邮箱
                  dd.col.dim1half.text-left.padleft= card.email
                if card.mobile
                  dt.col.dim1half.text-right.padright 手机
                  dd.col.dim1half.text-left.padleft= card.mobile
                if card.phone
                  dt.col.dim1half.text-right.padright 电话
                  dd.col.dim1half.text-left.padleft= card.phone
                if card.site
                  dt.col.dim1half.text-right.padright 主页
                  dd.col.dim1half.text-left.padleft= card.site
                if card.address
                  dt.col.dim1half.text-right.padright 地址
                  dd.col.dim1half.text-left.padleft= card.address

      #social.coffee-container.parallex
        .icon-container
          div
            span.fa.fa-comment.fa-2x
        .container.wrap
          .row
            .col.dimfull.text-center
              h2 网 络
              p.intro 还可以从通过以下方式联系我
              .more
                a.btn.transparent
                  span.fa.fa-qq.fa-2x
                  span  #{card.qq}
                a.btn.transparent
                  span.fa.fa-weixin.fa-2x
                  |  #{card.weixin}
                a.btn.transparent
                  span.fa.fa-weibo.fa-2x
                  |  #{card.weibo}

      #about.cream-container.parallex
        .icon-container
          div
            span.fa.fa-comment.fa-2x
        .container.wrap
          .row
            .col.dimfull.text-center
              h2 关 于
              p.intro.big= card.write


      #map.coffee-container.parallex
        - var marker = {lng: '121.46236', lat: '31.253631'};
        - var marker_img = marker.lng+','+marker.lat;
        - var marker_link = marker.lat+','+marker.lng;
        - var map_img_attrs = {'src': 'http://api.map.baidu.com/staticimage?&scale=2&center='+marker_img+'&markers='+marker_img+'&width=320&height=240&zoom=14&copyright=1&markerStyles=m,,red'};
        - var map_link_attrs = {'href': 'http://api.map.baidu.com/marker?location='+marker_link+'&title=我的位置&content=地址&output=html', 'target': '_blank'};
        .icon-container
          div
            span.fa.fa-map-marker.fa-2x
        .container.wrap
          .row
            .col.dimfull.text-center
              h2 位 置
              p
                a.btn&attributes(map_link_attrs)
                  | #{card.address}
              #map
                a&attributes(map_link_attrs)
                  img.img-responsive.img-rounded.center-block.map-img&attributes(map_img_attrs)

      #copyright
        .container.wrap
          .row
            .col.dimfull.text-center
              p &copy; 2014 HT Labs.

    block scripts
      script(type="text/javascript", src="/components/jquery/dist/jquery.min.js")
      //- script(type="text/javascript", src="/javascripts/templ1.js")
