mixin display(key)
  if (typeof key != 'undefined')
    if block
      block

doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0")
    - title = title ? title : '微名片'
    title= title
    block styles
      link(rel='stylesheet', href='/components/bootstrap/dist/css/bootstrap.min.css')
      link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css')
      link(rel='stylesheet', href='/stylesheets/templ2.css')

  body
    block content
      .top_bg(style="background-image: url(http://lorempixel.com/640/480/nature);")
      .top_bg.blur(style="background-image: url(http://lorempixel.com/640/480/nature); opacity: 0;")
      .container-fluid.head
        .row
          .head.col-lg-12
            img.avatar.img-circle.img-thumbnail.center-block(src="http://lorempixel.com/140/140/city")
          .name.col-xs-12
            h2.text-center
              strong= card.name
            h3.text-center
              span.small= card.position

        .company.row.bg-white
          .com.col-xs-12
            h4.text-center
              span= card.company

      .container-fluid
        .info.row.bg-white
          +display(card.mobile)
            .contact.col-xs-6
              p
                i.glyphicon.glyphicon-phone
                span= card.mobile
          +display(card.mobile)
          +display(card.unfinished)
          .contact.col-xs-6
            p
              i.fa.fa-phone.fa-fw
              span= card.phone

          .contact.col-xs-6
            p
              i.fa.fa-fw.fa-envelope
              span= card.email
          .contact.col-xs-12
            p.text-nowrap
              i.fa.fa-fw.fa-globe
              span= card.site
          .contact.col-xs-12
            address
              i.fa.fa-fw.fa-map-marker
              strong= card.address

      .container-fluid
        .info.row.bg-white
          .contact.col-xs-6
            p
              i.fa.fa-fw.fa-qq
              span= card.qq
          .contact.col-xs-6
            p
              i.fa.fa-weixin.fa-fw
              span= card.weixin
          .contact.col-xs-6
            p
              i.fa.fa-fw.fa-weibo
              span= card.weibo
      .container-fluid
        .words.row.bg-white
          .col-xs-12
            p.text-justify(style="line-height: 2em")
              i.text-muted.fa.fa-quote-left
              |  #{card.write}

      .container-fluid
        .row
          .map_img.col-md-6.col-sm-12.col-xs-12.col-md-offset-3
            - var marker = {lng: '121.46236', lat: '31.253631'};
            - var marker_img = marker.lng+','+marker.lat;
            - var marker_link = marker.lat+','+marker.lng;
            - var map_img_attrs = {'src': 'http://api.map.baidu.com/staticimage?&scale=2&center='+marker_img+'&markers='+marker_img+'&width=320&height=240&zoom=14&copyright=1&markerStyles=m,,red'};
            - var map_link_attrs = {'href': 'http://api.map.baidu.com/marker?location='+marker_link+'&title=我的位置&content=地址&output=html', 'target': '_blank'};
            a&attributes(map_link_attrs)
              img.img-responsive.img-thumbnail.img-rounded.center-block.map-img&attributes(map_img_attrs)
          .col-md-6.col-md-offset-3.col-sm-12.col-xs-12
            a.btn.btn-default.center-block(style="margin: 10px 0;")&attributes(map_link_attrs)
              i.glyphicon.glyphicon-screenshot
              | 地图导航

    footer
      .container
        .row
          p.text-center
            span.text-muted.copyright(style="font-family:arial;") &copy; 2014 HT Labs.
    block scripts
      script(type="text/javascript", src="/components/jquery/dist/jquery.min.js")
      script(type="text/javascript", src="/components/bootstrap/dist/js/bootstrap.min.js")
      script.
        $(window).scroll(function() {
          var opacity = $(document).scrollTop()/100;
          opacity = opacity <= 1 ? opacity : 1;
          console.log('opacity: '+opacity);
          $('.top_bg.blur').css({opacity: opacity + ''});
        });